﻿
@inject SignalHub.Shared.Services.SourceService SourceService
@inject SignalHub.Shared.Loaders.SourceLoader SourceLoader
@inject SignalHub.Shared.ApplicationState ApplicationState
@inject SignalHub.Shared.Loaders.LoaderManager LoaderManager

@using SignalHub.Components.Extensions

@*  Use layout and if editable make the layout editable with save button as well (or should this be handled outside?)  *@

@if (DashboardItem == null)
{
    if (ShowLoader)
    {
        <div>Loading...</div>
    }
}
else
{
    <GridStatic Layouts="DashboardItem.Layouts" Visuals="DashboardItem.Visuals" ComponentRefs="ComponentRefs"></GridStatic>

}

@code
{
    [Parameter] public SignalHub.Shared.Models.Dashboard DashboardItem { get; set; }
    [Parameter] public bool IsEditable { get; set; }
    [Parameter] public bool ShowLoader { get; set; } = true;

    private SignalHub.Shared.Models.Dashboard PreviousDashboardItem { get; set; }
    private IDictionary<string, IList<Visuals.Base.Component>> ComponentRefs { get; set; } = new Dictionary<string, IList<Visuals.Base.Component>>();

    protected override void OnAfterRender(bool firstRender)
    {
        //if (!firstRender && (PreviousDashboardItem == null || PreviousDashboardItem.Id != DashboardItem.Id))
        //{
        //    PreviousDashboardItem = DashboardItem;
        //    StateHasChanged();
        //    //var sourceIds = DashboardItem.Visuals.Select(v => v.SourceId);
        //    //Sources = await SourceService.Get(sourceIds);
        //}
    }

    public IEnumerable<Components.Visuals.Base.Component> GetVisualReferenceById(string id)
    {
        return ComponentRefs.ContainsKey(id) ? ComponentRefs[id] : new List<Components.Visuals.Base.Component>();
    }

    public IDictionary<string, IList<Components.Visuals.Base.Component>> GetComponentRefs()
    {
        return ComponentRefs;
    }
}
