﻿@inject SignalHub.Shared.Services.SourceService SourceService
@inject SignalHub.Shared.Services.VisualService VisualService
@inject SignalHub.Shared.Services.DashboardService DashboardService
@inject SignalHub.Shared.Loaders.SourceLoader SourceLoader


@if (Layouts == null || Visuals == null || Sources == null)
{
    <div>Loading...</div>
}
else
{
    var currentX = 0;
    var currentY = Layouts.Any() ? Layouts.Max(l => l.Position.Y + l.Position.H) : 0;
    var maxYLayouts = Layouts.Any() ? Layouts.Max(l => l.Position.Y) : 0;
    //var maxYVisuals = Visuals.Where(v => !Layouts.Any(l => l.VisualId == v.Id)).Count();
    var lastRowHeight = 1;
    var rowNo = 0;

    <div class="grid-static">
        @for (var y = 0; y <= maxYLayouts; y++)
        {
            rowNo++;
            var rowClass = $"row-{rowNo}";

            <div class="row @rowClass">
                @for (var x = 0; x < 12; x++)
                {
                    var layout = Layouts.FirstOrDefault(l => l.Position.X == x && l.Position.Y == y);
                    if (layout == null)
                    {
                        <div class="col-lg-1"></div>
                    }
                    else
                    {
                        var visual = Visuals.FirstOrDefault(v => v.Id == layout.VisualId);
                        if (visual != null)
                        {
                            var source = Sources.FirstOrDefault(s => s.Id == visual.SourceId);
                            var X = layout.Position.X;
                            var Y = layout.Position.Y;
                            var W = layout.Position.W;
                            var H = layout.Position.H;
                            x = x + W - 1;
                            lastRowHeight = Math.Max(lastRowHeight, H);
                            var visualClass = string.IsNullOrWhiteSpace(visual.Appearance?.ClassName) ? "visual" : visual.Appearance.ClassName;
                            var cellClass = $"{visualClass}-cell";

                            <div class="col-lg-@W col-height-@H @cellClass">
                                <div class="grid-item" data-gs-id="@visual.Id" data-gs-x="@X" data-gs-y="@Y" data-gs-width="@W" data-gs-height="@H">
                                    <GridVisual Visual="visual" Source="source" IsEditable="false" ComponentRefs="ComponentRefs"></GridVisual>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        }

        @for (var r = 0; r < lastRowHeight - 2; r++)
        {
            rowNo++;
            var rowClass = $"row-{rowNo}";

            <div class="row @rowClass"></div>
        }

        <div class="row row-last row-full">
            @foreach (var visual in Visuals)
            {
                if (!Layouts.Any(l => l.VisualId == visual.Id))
                {
                    var source = Sources.FirstOrDefault(s => s.Id == visual.SourceId);
                    var visualClass = string.IsNullOrWhiteSpace(visual.Appearance?.ClassName) ? "visual" : visual.Appearance.ClassName;
                    var cellClass = $"{visualClass}-cell";

                    <div class="col-lg-4 col-height-4 @cellClass">
                        <div class="grid-item" data-gs-id="@visual.Id" data-gs-x="@currentX" data-gs-y="@currentY" data-gs-width="4" data-gs-height="4">
                            <GridVisual Visual="visual" Source="source" IsEditable="false" ComponentRefs="ComponentRefs"></GridVisual>
                        </div>
                    </div>

                    currentY += (currentX + 4) >= 12 ? 4 : 0;
                    currentX = (currentX + 4) % 12;
                }
            }
        </div>
    </div>
}

@code {
    [Parameter] public IList<Shared.Models.Layout> Layouts { get; set; }
    [Parameter] public IList<Shared.Models.Visual> Visuals { get; set; }
    [Parameter] public IDictionary<string, IList<Visuals.Base.Component>> ComponentRefs { get; set; }

    private string PrevSourcesIds { get; set; } = string.Empty;
    private IEnumerable<SignalHub.Shared.Models.Source> Sources { get; set; }
    private IEnumerable<SignalHub.Shared.Models.Visual> OriginVisuals { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (await LoadIfNeeded())
            StateHasChanged();
    }

    protected async Task<bool> LoadIfNeeded()
    {
        //if (Sources == null || PrevSourcesIds != string.Join(string.Empty, Sources.Select(s => s.Id)))
        if (Visuals != null && PrevSourcesIds != string.Join(string.Empty, Visuals.Select(v => v.SourceId).Distinct()))
        {
            var sourceIds = Visuals.Select(v => v.SourceId).Distinct();
            var visualIds = Visuals.Select(v => v.Id).Distinct();

            var sourcesTask = SourceService.Get(sourceIds);
            var originVisualsTask = VisualService.Get(visualIds);
            Sources = await sourcesTask;
            OriginVisuals = await originVisualsTask;

            PrevSourcesIds = string.Join(string.Empty, Visuals.Select(v => v.SourceId).Distinct());
            //StateHasChanged();
            return true;
        }
        return false;
    }

}
