﻿@page "/display"
@inject PWA.Shared.QueryService QueryService

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{ 
    protected void OnInitialized()
    {
        QueryService.OutputMessage();
    }
}